{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"utf-8" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Bump Map{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.ico' %}"/>
    <script src="http://maps.google.com/maps/api/js?sensor=true&language=en"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/gmaps.min.js' %}"></script>
    <script src="{% static 'js/csrf_token_ajax.js' %}"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/bump_hunter/bump_map/"><!-- Bump Hunter --></a>
          <!-- <a class="navbar-brand" href="/bump_hunter/bump_map/"><img src="{% static 'image/logo.png' %}" alt="Bump Hunter"> -->
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li id="nav_map"><a href="/bump_hunter/bump_map/">Map</a></li>
            <li id="nav_sensing"><a href="/bump_hunter/bump_sensing/">Sensing</a></li>
            <li id="nav_chart"><a href="/bump_hunter/bump_chart/">Chart</a></li>
            <li id="nav_mqtt"><a href="/bump_hunter/bump_mqtt/">MQTT</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.get_username }}</a></li>
            <li><a href="/bump_hunter/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {{ content }}
      {% endblock %}
    </div>
  </body>
</html>
