.container{
    min-width: 1300px;
}

#input-container{
    width:  800px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bump-map {
    width: 800px;
    height: 800px;
    margin: auto;
    margin-bottom: 100px;    
}