{% extends "base.html" %}

{% block title %}Bump Map{% endblock title %}

{% block content %}
<div class="container-fluid">
  <h3 class="page-header">Bump Map</h3>
  <div style="margin: auto;">
    <div id="bump-map"></div>
  </div>
</div>
<script>
 var map = new GMaps({
   div: '#bump-map',
   lat: 35.90061,
   lng: 139.933694
 });
 map.addMarker({
   lat: 35.90061,
   lng: 139.933694,
   title: 'Lima',
   click: function(e) {
     alert('clicked action');
   },
   infoWindow: {
     content: '<p>HTML Content</p>'
   }   
 }); 
</script>
{% endblock content %}
