{% extends "base.html" %}

{% block title %}Bump Map for {{ mode }}{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div>
    <h3 class="page-header"><img src="{{ STATIC_URL }}image/{{ mode }}-icon.png" style="width: 50px; margin-right: 30px;">Bump Map for {{ mode }}</h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="bump-map"></div>
    </div>
    <div class="col-md-4" id="sns-widget">
      <div id="input-container">
        <table align="left">
          <tr>
            <td>
              <form id="geocoding_form" class="form-inline" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" id="address" placeholder="tokyo station">
                </div>
                <button type="submit" class="btn btn-primary">Geocoding</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
      <a class="twitter-timeline" href="https://twitter.com/bumps_hunter" data-widget-id="632416122264924160">
        @bumps_hunterさんのツイート
      </a>
    </div>
  </div>
</div>
<script>
var RED_THRESH = 2.0;
var YELLOW_THRESH = 1.0;
var RED_ICON_PATH = '/static/image/red-dot.png';
var YELLOW_ICON_PATH = '/static/image/yellow-dot.png';
var BLUE_ICON_PATH = '/static/image/blue-dot.png';
var GREEN_ICON_PATH = '/static/image/green-dot.png';
var RED_DOT_ICON_PATH = '/static/image/small_dots/small-red-dot.png';
var BLUE_DOT_ICON_PATH = '/static/image/small_dots/small-blue-dot.png';
var YELLOW_DOT_ICON_PATH = '/static/image/small_dots/small-yellow-dot.png';

var mode = '{{ mode }}';

$(document).ready(function(){
    var map = new GMaps({
        div: '#bump-map',
        lat: 35.90061,
        lng: 139.933694
    });
    GMaps.geolocate({
        success: function(position) {
            map.setCenter(position.coords.latitude, position.coords.longitude);
        },
        error: function(error) {
            alert('Geolocation failed: '+error.message);
        },
        not_supported: function() {
            alert("Your browser does not support geolocation");
        },
        always: function() {
        }
    });
    GMaps.on('click', map.map, function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        var content = 'lat: ' + lat + '<br>lng: ' + lng + '<br><a href="/bump_hunter/bump_insights/?mode=' + mode + '&lat=' + lat + '&lon=' + lng + '">Create your insight</a>';

        map.addMarker({
            lat: lat,
            lng: lng,
            // title: 'Marker #' + index,
            infoWindow: {
                content : content
            }
        });
    });

    // geocoding
    GMaps.geocode({
        address: $('#address').val(),
        callback: function(results, status) {
            if (status == 'OK') {
                var latlng = results[0].geometry.location;
                map.setCenter(latlng.lat(), latlng.lng());
                map.addMarker({
                    lat: latlng.lat(),
                    lng: latlng.lng()
                });
            }
        }
    });
    $('#geocoding_form').submit(function(e){
        e.preventDefault();
        GMaps.geocode({
            address: $('#address').val().trim(),
            callback: function(results, status) {
                if (status=='OK') {
                    var latlng = results[0].geometry.location;
                    map.setCenter(latlng.lat(), latlng.lng());
                    map.addMarker({
                        lat: latlng.lat(),
                        lng: latlng.lng(),
                        icon: BLUE_ICON_PATH,
                    });
                }
            }
        });
    });

    // twitter insights
    $.ajax({
        url: '/bump_hunter/bump_tweet/',
        type: 'GET',
        dataType: 'json',
        success: function(response) {
        }
    });

    // visualization of log data
    $.ajax({
        url: '../get_all/',
        type: 'GET',
        data: {
            mode: mode
        },
        dataType: 'json',
        success: function(response) {
            for (var i = 0; i < response.all_log_data.length; i++) {
                var data = response.all_log_data[i];
                // console.log(data);
                var acc = parseFloat(data.acc.toFixed(3));
                var icon_path = BLUE_DOT_ICON_PATH;
                if (acc > RED_THRESH) {
                    icon_path = RED_DOT_ICON_PATH;
                } else if (acc > YELLOW_THRESH) {
                    icon_path = YELLOW_DOT_ICON_PATH;
                }
                map.addMarker({
                    lat: data.lat,
                    lng: data.lon,
                    title: data.logged_at,
                    click: function(e) {
                        // alert('clicked action');
                    },
                    infoWindow: {
                        content: 'user: ' + data.user_name + '<br>lat: ' + data.lat + '<br>lng:' + data.lon + '<br>acc: ' + data.acc.toFixed(3) + ' m/s^2<br><a href="/bump_hunter/bump_insights/?mode=' + mode + '&lat=' + data.lat + '&lon=' + data.lon + '">Create your insight</a>',
                    },
                    icon: icon_path,
                });
                map.addLayer('traffic');
            }
        },
    });

    // visualization of insights data
    $.ajax({
        url: '/bump_hunter/bump_insights/get_all/',
        type: 'GET',
        data: {
            mode: mode,
        },
        dataType: 'json',
        success: function(response) {
            for (var i = 0; i < response.all_insight_data.length; i++) {
                var data = response.all_insight_data[i];
                // var icon_path = (data.insight_type == 'roadway') ? GREEN_ICON_PATH : YELLOW_ICON_PATH
                var icon_path = GREEN_ICON_PATH;
                // console.log(data);
                map.addMarker({
                    lat: data.lat,
                    lng: data.lon,
                    title: data.created_at,
                    infoWindow: {
                    content: '<table style="text-align: center;"><tr><td style="font-weight: bold; min-width: 100px;">Location: </td><td>' + data.location_name + '</td><tr><td style="font-weight: bold; min-width: 100px;">User Name: </td><td>' + data.user_name + '</td></tr><tr><td style="font-weight: bold; min-width: 100px;">latitude: </td><td>' + data.lat + '</td></tr><tr><td style="font-weight: bold; min-width: 100px;">longitude: </td><td>' + data.lon + '</td></tr><tr><td style="font-weight: bold; min-width: 100px;">Comment</td><td>' + data.comment + '</td></tr></table><div style="margin: 10px;"><a href="http://maps.google.com/?cbll=' + data.lat + ',' + data.lon + '&layer=c" target="_blank">Street View Link</a></div>'
                    },
                    icon: icon_path,
                });
            }
            map.addLayer('traffic');
        }
    });

    // navbar
    if (mode == 'Roadway') {
        $('#nav_roadway').addClass('active');
    } else if (mode == 'Sidewalk') {
        $('#nav_sidewalk').addClass('active');
    }
});
</script>
<script>
 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script>
 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
{% endblock content %}
