{% extends "base.html" %}

{% block title %}Bump Sensing{% endblock title %}

{% block content %}
<div class="container-fluid">
  <h3 class="page-header">Bump MQTT</h3>
  <div>
    <h4>Status</h4>
    <p><span id="status"></span></p>
    <h4>Acceleration</h4>
    <p>X: <span id="acc_x"></span> m/s^2</p>
    <p>Y: <span id="acc_y"></span> m/s^2</p>
    <p>Z: <span id="acc_z"></span> m/s^2</p>
  </div>
  <div>
    <h4>Location</h4>
    <p>Lat: <span id="lat"></span></p>
    <p>Lon: <span id="lon"></span></p>
  </div>
</div>
<script src="/static/js/mqttws31.js"></script>
<script>
var ORG_ID = 'g6t2bu';
var CLIENT_ID = 'd:g6t2bu:MQTTDevice:DQGM50ADF8GJ';
var PASSWORD = ')l3k_j(h(tR4penx3g';

var isConnected = false;
var ax = 0, ay = 0, az = 0, lat = 0, lon = 0;
var topic = "iot-2/evt/sensorData/fmt/json-iotf";

$(function() {
    // mqtt
    client = new Paho.MQTT.Client(ORG_ID + '.messaging.internetofthings.ibmcloud.com', 1883, CLIENT_ID);
    connectDevice(client);

    // acceleration
    window.ondevicemotion = function(e) {
        ax = parseFloat(e.acceleration.x || 0);
        ay = parseFloat(e.acceleration.y || 0);
        az = parseFloat(e.acceleration.z || 0);
        $('#acc_x').text(ax);
        $('#acc_y').text(ay);
        $('#acc_z').text(az);

        publish();
    };

    // location
    if (navigator.geolocation) {
        var options = {
            enableHighAccuracy: true,
            maximumAge: 0,
            timeout: 5000
        };
        navigator.geolocation.watchPosition(function(pos) {
            lat = pos.coords.latitude;
            lon = pos.coords.longitude;
            $('#lat').text(lat);
            $('#lon').text(lon);

            publish(); // DEBUG
        }, function(err) {
            console.warn('ERROR(' + err.code + '): ' + err.message);
        }, options);
    } else {
        alert("Geolocation API is not supported.");
    }

    // navbar
    $('#nav_mqtt').addClass('active');

    // setInterval(publish, 100);
});

var connectDevice = function(client) {
    $('#status').text('Connecting...');

    client.connect({
        onSuccess: onConnectSuccess,
        onFailure: onConnectFailure,
        userName: 'use-token-auth',
        password: PASSWORD,
    });
};

var publish = function() {
    if (isConnected) {
        var payload = {
            'd': {
                'ax': ax.toFixed(3),
                'ay': ay.toFixed(3),
                'az': az.toFixed(3),
                'lat': lat,
                'lon': lon,
            }
        };

        var message = new Paho.MQTT.Message(JSON.stringify(payload));
        message.destinationName = topic;
        try {
            client.send(message);
            console.log('[%s] Published', new Date().getTime());
        } catch (err) {
            isConnected = false;
            $('#status').text('Disconnected');
            setTimeout(connectDevice(client), 1000);
        }
    }
};

var onConnectSuccess = function() {
    // The device connected successfully
    console.log("Connected Successfully!");
    isConnected = true;
    $('#status').text('Connected');
};

var onConnectFailure = function() {
    // The device failed to connect. Let's try again in one second.
    console.log("Could not connect to IoT Foundation! Trying again in one second.");
    setTimeout(connectDevice(client), 1000);
};
</script>
{% endblock content %}
