{% extends "base.html" %}

{% block title %}Bump Sensing for {{ mode }}{% endblock title %}

{% block content %}
<div class="container-fluid">
  <h3 class="page-header"><img src="{{ STATIC_URL }}image/{{ mode }}-icon.png" style="width: 50px; margin-right: 30px;">Bump Sensing for {{ mode }}</h3>
  <div>
    <h4>Status</h4>
    <p><span id="status"></span></p>
    <h4>Acceleration</h4>
    <p>X: <span id="acc_x"></span> m/s^2</p>
    <p>Y: <span id="acc_y"></span> m/s^2</p>
    <p>Z: <span id="acc_z"></span> m/s^2</p>
  </div>
  <div>
    <h4>Location</h4>
    <p>Lat: <span id="lat"></span></p>
    <p>Lon: <span id="lon"></span></p>
  </div>
</div>
<script src="/static/js/mqttws31.js"></script>
<script>
var ORG_ID = 'g6t2bu';
var CLIENT_ID = 'd:g6t2bu:MQTTDevice:DQGM50ADF8GJ';
var PASSWORD = ')l3k_j(h(tR4penx3g';

var connected = false;
var ax = [], ay = [], az = [];
var lat = 0, lon = 0;
var topic = "iot-2/evt/sensorData/fmt/json-iotf";

var mode = '{{ mode }}';

$(function() {
    // mqtt
    client = new Paho.MQTT.Client(ORG_ID + '.messaging.internetofthings.ibmcloud.com', 1883, CLIENT_ID);
    connectDevice(client);

    // acceleration
    window.ondevicemotion = function(e) {
        var cur_ax = parseFloat(e.acceleration.x || 0);
        var cur_ay = parseFloat(e.acceleration.y || 0);
        var cur_az = parseFloat(e.acceleration.z || 0);
        $('#acc_x').text(cur_ax);
        $('#acc_y').text(cur_ay);
        $('#acc_z').text(cur_az);
        if (!(cur_ax == 0 && cur_ay == 0 && cur_az == 0)) {
            ax.push(cur_ax);
            ay.push(cur_ay);
            az.push(cur_az);
        }
    };

    // location
    if (navigator.geolocation) {
        var options = {
            enableHighAccuracy: true,
            maximumAge: 0,
            timeout: 5000
        };
        navigator.geolocation.watchPosition(function(pos) {
            var cur_lat = pos.coords.latitude;
            var cur_lon = pos.coords.longitude;
            if (!(cur_lat == lat && cur_lon == lon)) {
                lat = cur_lat;
                lon = cur_lon;
                $('#lat').text(lat);
                $('#lon').text(lon);
                publish();
            }
        }, function(err) {
            console.warn('ERROR(' + err.code + '): ' + err.message);
        }, options);
    } else {
        alert("Geolocation API is not supported.");
    }

    // navbar
    if (mode == 'Roadway') {
        $('#nav_roadway').addClass('active');
    } else if (mode == 'Sidewalk') {
        $('#nav_sidewalk').addClass('active');
    }
});

var connectDevice = function(client) {
    $('#status').text('Connecting...');

    client.connect({
        onSuccess: onConnectSuccess,
        onFailure: onConnectFailure,
        userName: 'use-token-auth',
        password: PASSWORD,
    });
};

var publish = function() {
    if (connected) {
        if (ax.length == 0 || ay.length == 0 || az.length == 0 || lat == 0 || lon == 0) {
            return;
        }

        var time = new Date().getTime() / 1000.0;
        var raw_ax = ax.concat();
        var raw_ay = ay.concat();
        var raw_az = az.concat();
        ax = [], ay = [], az = [];

        var ave_acc = calcAverageAcc(raw_ax, raw_ay, raw_az);

        var payload = {
            'd': {
                'acc': ave_acc.toFixed(3),
                'lat': lat,
                'lon': lon,
                'log_type': '{{ mode }}',
                'logged_at': time,
                'user_id': {{ user.id }},
            }
        };

        var message = new Paho.MQTT.Message(JSON.stringify(payload));
        message.destinationName = topic;
        try {
            client.send(message);
            console.log('[%s] Published', new Date().getTime());
        } catch (err) {
            connected = false;
            $('#status').text('Disconnected');
            setTimeout(connectDevice(client), 1000);
        }
    }
};

var onConnectSuccess = function() {
    // The device connected successfully
    console.log("Connected Successfully!");
    connected = true;
    $('#status').text('Connected');
};

var onConnectFailure = function() {
    // The device failed to connect. Let's try again in one second.
    console.log("Could not connect to IoT Foundation! Trying again in one second.");
    setTimeout(connectDevice(client), 1000);
};

var calcAverageAcc = function(acc_x, acc_y, acc_z) {
    var min_count = acc_x.length;
    if (acc_y.length < min_count) {
        min_count = acc_y.length;
    }
    if (acc_z.length < min_count) {
        min_count = acc_z.length;
    }

    var ave = 0;
    for (var i = 0; i < min_count; i++) {
        ave += Math.sqrt(Math.pow(acc_x[i], 2) + Math.pow(acc_y[i], 2) + Math.pow(acc_z[i], 2));
    }
    return ave / min_count;
};

</script>
{% endblock content %}
