{% extends "base.html" %}

{% block title %}Bump Hunter Index{% endblock title %}

{% block content %}
<div class="container-fluid">
  <h3 class="page-header"><img src="{{ STATIC_URL }}image/main.png"/ style="width: 50px; margin-right: 30px; font-size: 20px;">Bump Hunter</h3>
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- first slide -->
        <div class="item active">
          <img class="first-slide" src="{{ STATIC_URL }}image/index_images/front_1.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sense with your devise</h1>
              <p>You can use your own devise such as smartphones, tablets and so on. </p>
              <p><a class="btn btn-lg btn-primary" href="/bump_hunter/bump_sensing/" role="button">Activate your devise</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- second slide -->
          <img class="second-slide" src="{{ STATIC_URL }}image/index_images/front_2.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Analyzed results can be seen immediately</h1>
              <p>Bump hunter can analyze your logged data as soon as the data is extracted</p>
              <p><a class="btn btn-lg btn-primary" href="/bump_hunter/bump_map/" role="button">Latest Result</a></p>              
            </div>
          </div>
        </div>
        <div class="item">
          <!-- third slide -->
          <img class="third-slide" src="{{ STATIC_URL }}image/index_images/front_3.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Share your insights</h1>
              <p>Manually registration for your insights is welcomed for more improvement of the analysis</p>
              <p><a class="btn btn-lg btn-primary" href="/bump_hunter/bump_insights/" role="button">Resister your insights</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="{{STATIC_URL}}image/index_images/smart_phone_icon.png" alt="Generic placeholder image" width="140" height="140">          
          <h2>Sense with smartphone</h2>
          <p>Bump hunter analyze the road condition based on the log data of application users including you. Off course we offer the sensing system with state-of-the-art technology using IBM Bluemix.</p>
            <p><a class="btn btn-default" href="/bump_hunter/bump_sensing/" role="button">Go Sensing Page &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{STATIC_URL}}image/index_images/map.png" alt="Generic placeholder image" width="250" height="140">          
          <h2>Visualize road condition</h2>
          <p>Bump hunter generates Bump Map to visualize the road condition, traffic condition and so on in the entire world as the analyzed result from your log data. The map can also display the comments from users.</p>
          <p><a class="btn btn-default" href="/bump_hunter/bump_map/" role="button">Go Visualize Page &raquo;</a></p>            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{STATIC_URL}}image/index_images/share.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Share your infomation</h2>
          <p>You can upload your own information manually to help other users by sharing your insights in this community. Our results also visualize the infomation and use it to improve our analysis.</p>
          <p><a class="btn btn-default" href="/bump_hunter/bump_insights/" role="button">Go Sharing Page &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Every user can detect the bumps with your own devises. <span class="text-muted"></span></h2>
          <p class="lead">Bump Hunter is not os dependent to register your log if the device has appropriate sensors.</p>
          <p><a class="btn btn-lg btn-primary" href="/bump_hunter/bump_sensing/" role="button">Activate your devise</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{STATIC_URL}}image/index_images/sensing.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">You can see immediately the results <span class="text-muted">on a single map.</span></h2>
          <p class="lead">Your log data will be analyzed and updated in real time</p>
          <p><a class="btn btn-lg btn-primary" href="/bump_hunter/bump_map/" role="button">Latest Result</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{{STATIC_URL}}image/index_images/visualization_map.png" alt="Generic placeholder image">          
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Share your insights<span class="text-muted"></span></h2>
          <p class="lead">Bump hunter accepts the manually detected infomation from the all users.</p>
          <p><a class="btn btn-lg btn-primary" href="/bump_hunter/bump_insights/" role="button">Resister your insights</a></p>          
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{STATIC_URL}}image/index_images/sharing_insights.png" alt="Generic placeholder image">          
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div><!-- /.container -->
</div>
{% endblock content %}
